node_modules
/dist/win-ia32-unpacked/locales/af.pak
/dist/win-ia32-unpacked/locales/am.pak
/dist/win-ia32-unpacked/locales/ar.pak
/dist/win-ia32-unpacked/locales/bg.pak
/dist/win-ia32-unpacked/locales/bn.pak
/dist/win-ia32-unpacked/locales/ca.pak
/dist/win-ia32-unpacked/locales/cs.pak
/dist/win-ia32-unpacked/locales/da.pak
/dist/win-ia32-unpacked/locales/de.pak
/dist/win-ia32-unpacked/locales/el.pak
/dist/win-ia32-unpacked/locales/en-GB.pak
/dist/win-ia32-unpacked/locales/en-US.pak
/dist/win-ia32-unpacked/locales/es.pak
/dist/win-ia32-unpacked/locales/es-419.pak
/dist/win-ia32-unpacked/locales/et.pak
/dist/win-ia32-unpacked/locales/fa.pak
/dist/win-ia32-unpacked/locales/fi.pak
/dist/win-ia32-unpacked/locales/fil.pak
/dist/win-ia32-unpacked/locales/fr.pak
/dist/win-ia32-unpacked/locales/gu.pak
/dist/win-ia32-unpacked/locales/he.pak
/dist/win-ia32-unpacked/locales/hi.pak
/dist/win-ia32-unpacked/locales/hr.pak
/dist/win-ia32-unpacked/locales/hu.pak
/dist/win-ia32-unpacked/locales/id.pak
/dist/win-ia32-unpacked/locales/it.pak
/dist/win-ia32-unpacked/locales/ja.pak
/dist/win-ia32-unpacked/locales/kn.pak
/dist/win-ia32-unpacked/locales/ko.pak
/dist/win-ia32-unpacked/locales/lt.pak
/dist/win-ia32-unpacked/locales/lv.pak
/dist/win-ia32-unpacked/locales/ml.pak
/dist/win-ia32-unpacked/locales/mr.pak
/dist/win-ia32-unpacked/locales/ms.pak
/dist/win-ia32-unpacked/locales/nb.pak
/dist/win-ia32-unpacked/locales/nl.pak
/dist/win-ia32-unpacked/locales/pl.pak
/dist/win-ia32-unpacked/locales/pt-BR.pak
/dist/win-ia32-unpacked/locales/pt-PT.pak
/dist/win-ia32-unpacked/locales/ro.pak
/dist/win-ia32-unpacked/locales/ru.pak
/dist/win-ia32-unpacked/locales/sk.pak
/dist/win-ia32-unpacked/locales/sl.pak
/dist/win-ia32-unpacked/locales/sr.pak
/dist/win-ia32-unpacked/locales/sv.pak
/dist/win-ia32-unpacked/locales/sw.pak
/dist/win-ia32-unpacked/locales/ta.pak
/dist/win-ia32-unpacked/locales/te.pak
/dist/win-ia32-unpacked/locales/th.pak
/dist/win-ia32-unpacked/locales/tr.pak
/dist/win-ia32-unpacked/locales/uk.pak
/dist/win-ia32-unpacked/locales/ur.pak
/dist/win-ia32-unpacked/locales/vi.pak
/dist/win-ia32-unpacked/locales/zh-CN.pak
/dist/win-ia32-unpacked/locales/zh-TW.pak
/dist/win-ia32-unpacked/resources/app.asar
/dist/win-ia32-unpacked/resources/app-update.yml
/dist/win-ia32-unpacked/resources/elevate.exe
/dist/win-ia32-unpacked/chrome_100_percent.pak
/dist/win-ia32-unpacked/chrome_200_percent.pak
/dist/win-ia32-unpacked/d3dcompiler_47.dll
/dist/win-ia32-unpacked/ffmpeg.dll
/dist/win-ia32-unpacked/icudtl.dat
/dist/win-ia32-unpacked/libEGL.dll
/dist/win-ia32-unpacked/libGLESv2.dll
/dist/win-ia32-unpacked/LICENSE.electron.txt
/dist/win-ia32-unpacked/LICENSES.chromium.html
/dist/win-ia32-unpacked/resources.pak
/dist/win-ia32-unpacked/snapshot_blob.bin
/dist/win-ia32-unpacked/v8_context_snapshot.bin
/dist/win-ia32-unpacked/vk_swiftshader.dll
/dist/win-ia32-unpacked/vk_swiftshader_icd.json
/dist/win-ia32-unpacked/vulkan-1.dll
/dist/win-ia32-unpacked/超人影音盒.exe
/dist/builder-debug.yml
/dist/builder-effective-config.yaml
/dist/latest.yml
/dist/超人影音盒 Setup 2018.5.25.exe
/dist/超人影音盒 Setup 2018.5.25.exe.blockmap
