<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin/user/add</title>
</head>
<body>
<form action="/doAdd" method="POST">
    <div> 用户名： <input type="text" name="username" value="李四试试"></div>
    <div>年龄：<input type="text" name="age" value="26"></div>
    <div>性别:<input type="text" name="sex" value="男"></div>
    <input type="submit" value="提交">
</form>
</body>
</html>