<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin/user</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<%=title%>
    <a href="/add">增加</a>
    <table width="800" border="1">
        <tr>
            <td>姓名name</td>
            <td>姓名username</td>
            <td>年龄</td>
            <td>性别</td>
            <td>操作</td>
        </tr>
        {{each list}}
        <tr>
            <td>{{$value.name}}</td>
            <td>{{$value.username}}</td>
            <td>{{$value.age}}</td>
            <td>{{$value.sex}}</td>
            <td><a href="/edit?id={{@$value._id}}">编辑</a>|<a href="/delete?id={{@$value._id}}">删除</a></td>
        </tr>
        {{/each}}
    </table>
</body>
</html>